/****** Object:  Database [EmployeeManagement]    Script Date: 6.11.2025 22:51:14 ******/
CREATE DATABASE [EmployeeManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeManagement', FILENAME = N'C:\Users\merty\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\EmployeeManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeManagement_log', FILENAME = N'C:\Users\merty\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\EmployeeManagement.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetMaskedIdentityNo]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO
-- =============================================
-- Author:		Mert Yılmaz
-- Create date: 20251105
-- Description:	This func created for mask to identity for Personal Information Security Policies
-- =============================================
CREATE FUNCTION [dbo].[GetMaskedIdentityNo]
(
	@identityNo varchar(11)
)
RETURNS varchar(11)
AS
BEGIN

		DECLARE @result varchar(11)

		set @result = Replicate('*',7) + Right(@identityNo, len(@identityNo)-7) 

	RETURN @result

END
GO
USE EmployeeManagement 
 GO
/****** Object:  Table [dbo].[EmployeeDailyWages]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
USE EmployeeManagement 
 GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO
CREATE TABLE [dbo].[EmployeeDailyWages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [smallint] NOT NULL,
	[Day] [smallint] NOT NULL,
	[DailyTotalWorkingMinute] [int] NOT NULL,
	[CreatedAt] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE EmployeeManagement 
 GO
/****** Object:  Table [dbo].[Employees]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
USE EmployeeManagement 
 GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[PayrollType] [smallint] NOT NULL,
	[CreatedAt] [smalldatetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[DailyWage] [decimal](10, 2) NOT NULL,
	[IdentityNo] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE EmployeeManagement 
 GO
/****** Object:  Table [dbo].[PayrollTypes]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
USE EmployeeManagement 
 GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO
CREATE TABLE [dbo].[PayrollTypes](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE EmployeeManagement 
 GO
SET IDENTITY_INSERT [dbo].[EmployeeDailyWages] ON 

INSERT [dbo].[EmployeeDailyWages] ([Id], [EmployeeId], [Year], [Month], [Day], [DailyTotalWorkingMinute], [CreatedAt]) VALUES (3, 2, 2025, 11, 12, 512, CAST(N'2025-11-05T22:14:00' AS SmallDateTime))
INSERT [dbo].[EmployeeDailyWages] ([Id], [EmployeeId], [Year], [Month], [Day], [DailyTotalWorkingMinute], [CreatedAt]) VALUES (4, 2, 2025, 11, 13, 512, CAST(N'2025-11-05T22:15:00' AS SmallDateTime))
INSERT [dbo].[EmployeeDailyWages] ([Id], [EmployeeId], [Year], [Month], [Day], [DailyTotalWorkingMinute], [CreatedAt]) VALUES (5, 2, 2025, 11, 13, 556, CAST(N'2025-11-05T22:15:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[EmployeeDailyWages] OFF
GO
USE EmployeeManagement 
 GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Surname], [PayrollType], [CreatedAt], [Active], [DailyWage], [IdentityNo]) VALUES (2, N'Test', N'Tester', 2, CAST(N'2025-11-05T13:13:00' AS SmallDateTime), 1, CAST(1000.00 AS Decimal(10, 2)), N'11111111111')
INSERT [dbo].[Employees] ([Id], [Name], [Surname], [PayrollType], [CreatedAt], [Active], [DailyWage], [IdentityNo]) VALUES (3, N'Test', N'Tester', 1, CAST(N'2025-11-05T13:22:00' AS SmallDateTime), 1, CAST(800.00 AS Decimal(10, 2)), N'11111511111')
INSERT [dbo].[Employees] ([Id], [Name], [Surname], [PayrollType], [CreatedAt], [Active], [DailyWage], [IdentityNo]) VALUES (10, N'Mert', N'Yılmaz', 3, CAST(N'2025-11-05T19:35:00' AS SmallDateTime), 1, CAST(800.00 AS Decimal(10, 2)), N'12231654511')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
USE EmployeeManagement 
 GO
SET IDENTITY_INSERT [dbo].[PayrollTypes] ON 

INSERT [dbo].[PayrollTypes] ([Id], [Description]) VALUES (1, N'Sabit Maaş')
INSERT [dbo].[PayrollTypes] ([Id], [Description]) VALUES (2, N'Günlük Ücret X Çalışılan gün sayısı')
INSERT [dbo].[PayrollTypes] ([Id], [Description]) VALUES (3, N'Sabit Maaş ve Fazla Mesai')
SET IDENTITY_INSERT [dbo].[PayrollTypes] OFF
GO
USE EmployeeManagement 
 GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE EmployeeManagement 
 GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [Active]
GO
USE EmployeeManagement 
 GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_PayrollType] FOREIGN KEY([PayrollType])
REFERENCES [dbo].[PayrollTypes] ([Id])
GO
USE EmployeeManagement 
 GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_PayrollType]
GO
USE EmployeeManagement 
 GO
/****** Object:  StoredProcedure [dbo].[sp_AddEmployee]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
USE EmployeeManagement 
 GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO



-- =============================================
-- Author:		Mert Yılmaz
-- Create date: 20251105
-- Description:	This Procedure add employee
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddEmployee]
   (	
			@Name nvarchar(100)
           ,@Surname nvarchar(100)
           ,@PayrollType smallint
           ,@CreatedAt smalldatetime
           ,@Active bit
           ,@DailyWage decimal(10,2)
           ,@IdentityNo varchar(11))
AS
BEGIN

If exists (Select 1 from Employees where IdentityNo = @IdentityNo)
begin
	raiserror('This user who has identity no in parameter is existing',16,1)
	return		
end

If @DailyWage <= 0
begin
	raiserror('Wage must be greater than 0(zero)',16,1)
	return		
end


INSERT INTO [dbo].[Employees]
           (
           [Name]
           ,[Surname]
           ,[PayrollType]
           ,[CreatedAt]
           ,[Active]
           ,[DailyWage]
           ,[IdentityNo])
     VALUES
	  (		
           @Name
           ,@Surname
           ,@PayrollType
           ,@CreatedAt
           ,@Active
           ,@DailyWage
           ,@IdentityNo)


END
GO
USE EmployeeManagement 
 GO
/****** Object:  StoredProcedure [dbo].[sp_AddEmployeeWorkTimeForDate]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
USE EmployeeManagement 
 GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO

-- =============================================
-- Author:		Mert Yılmaz
-- Create date: 20251105
-- Description:	This Procedure Insert a daily work time information record for employee.You can add multiple row for a employee per day. GetEmployeePeriodicPayroll Procedure will take to calculation last entry for per date by every user
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddEmployeeWorkTimeForDate]
(	
	@EmployeeId int,
	@Year int, 
	@Month smallint,
	@Day smallint,
	@DailyTotalWorkingMinute int

)
AS
BEGIN

IF @Month not between 1 and 12
begin
	raiserror('Month must be between 1 and 12.',16,1)
	return		
end

IF (SELECT DAY(EOMONTH(DATEFROMPARTS(@Year, @Month, 1)))) < @Day
begin
	raiserror('You cannot enter more days than the number of days in the entered month.',16,1)
	return		
end
IF @Day <= 0
begin
	raiserror('DAy Must be greater than zero.',16,1)
	return		
end
 
INSERT INTO EmployeeDailyWages (EmployeeId,Year,Month,Day,DailyTotalWorkingMinute,CreatedAt)
VALUES (
@EmployeeId,
@Year,
@Month,
@Day,
@DailyTotalWorkingMinute,
GETDATE()
)

END
GO
USE EmployeeManagement 
 GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeePeriodicPayroll]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
USE EmployeeManagement 
 GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO
-- =============================================
-- Author:		Mert Yılmaz
-- Create date: 20251105
-- Description:	This Procedure calculate all active employees payroll by year and month. Daily Working time 9 hour and it is equal to 540 min. Overtime multiplier is 1.5. 
--			  : Take last record by per user in for per date
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetEmployeePeriodicPayroll]
(
	@WorkPeriod varchar(7)
)
AS
BEGIN

declare @periodicYear int, @periodicMonth smallint
select @periodicYear = Convert(int, SUBSTRING(@WorkPeriod,1,4)) -- Çalışma Yılını alır
, @periodicMonth = Convert(smallint, SUBSTRING(@WorkPeriod,6,2)) -- Çalışma Ayını alır

;WITH dailyLastRecord AS
(
    SELECT
        edw.*,
        ROW_NUMBER() OVER (PARTITION BY edw.EmployeeId, edw.Year, edw.Month, edw.Day 
                           ORDER BY edw.CreatedAt DESC) AS rn
    FROM EmployeeDailyWages edw (NOLOCK)
)
Select 
emp.Id,
Sum(edw.DailyTotalWorkingMinute) TotalWorkingMins,
Count(edw.Day) totalDay,
Sum(Case When edw.DailyTotalWorkingMinute - 540 > 0 
			then edw.DailyTotalWorkingMinute - 540
		 else 0
	end)OvertimeMin
Into #CustomersPeriodicWorkHistory
From Employees  emp (nolock) 
INNER JOIN dailyLastRecord edw ON edw.EmployeeId = emp.Id AND edw.rn = 1
where  edw.Year=@periodicYear 
and edw.Month=@periodicMonth 
and emp.Active = 1 
Group By emp.Id

select
emp.Id,
emp.Name,
emp.Surname,
emp.DailyWage,
pt.Description PayrollTypeDescription,
Case When emp.PayrollType = 1 
		Then Round(emp.DailyWage * 30 , 2)
	 When emp.PayrollType = 2
		Then Round(emp.DailyWage * cpw.totalDay , 2)
	 Else 
		Round((emp.DailyWage * 30) + (DailyWage / 9  * OvertimeMin / 60 * 1.5)
		,2)
end PeriodicWage,
dbo.GetMaskedIdentityNo(IdentityNo) IdentityNo ,-- TODO: scalar func 
OvertimeMin as OvertimeWork,
 cpw.totalDay totalWorkDay
from #CustomersPeriodicWorkHistory cpw
Inner Join Employees emp(nolock) on emp.Id = cpw.Id
Inner Join PayrollTypes pt(nolock) on pt.Id = emp.PayrollType

drop table #CustomersPeriodicWorkHistory

END
GO
USE EmployeeManagement 
 GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployees]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
USE EmployeeManagement 
 GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO
-- =============================================
-- Author:		Mert Yılmaz
-- Create date: 20251105
-- Description:	This Procedure returns all active employees information
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetEmployees]
AS
BEGIN

Select [Id]
      ,[Name]
      ,[Surname]
      ,[PayrollType]
      ,[CreatedAt]
      ,[Active]
      ,[DailyWage]
      ,dbo.GetMaskedIdentityNo(IdentityNo) IdentityNo -- TODO: scalar func 
From Employees  emp (nolock) where emp.Active = 1 

END
GO
USE EmployeeManagement 
 GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmployee]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
USE EmployeeManagement 
 GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO


-- =============================================
-- Author:		Mert Yılmaz
-- Create date: 20251105
-- Description:	This Procedure update employee
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateEmployee]
   (		@Id int
		   ,@Name nvarchar(100)
           ,@Surname nvarchar(100)
           ,@PayrollType smallint
		   ,@CreatedAt smallDatetime
           ,@Active bit
           ,@DailyWage decimal(10,2)
           ,@IdentityNo varchar(11))
AS
BEGIN

UPDATE [dbo].[Employees]
          set Name = @Name,
          Surname = @Surname,
		  PayrollType =@PayrollType,
		  Active =@Active,
		  DailyWage =@DailyWage,
		  IdentityNo =@IdentityNo
Where Id = @Id


END
GO
USE EmployeeManagement 
 GO
/****** Object:  StoredProcedure [dbo].[sp_WorkLogs]    Script Date: 6.11.2025 22:51:15 ******/
SET ANSI_NULLS ON
GO
USE EmployeeManagement 
 GO
SET QUOTED_IDENTIFIER ON
GO
USE EmployeeManagement 
 GO
-- =============================================
-- Author:		Mert Yılmaz
-- Create date: 20251106
-- Description:	Created for get all working history
-- =============================================
CREATE PROCEDURE [dbo].[sp_WorkLogs]
AS
BEGIN
	select
	   [Id]
      ,[EmployeeId]
      ,[Year]
      ,[Month]
      ,[Day]
      ,[DailyTotalWorkingMinute]
      ,[CreatedAt]
	  from EmployeeDailyWages (nolock)
END
GO
USE EmployeeManagement 
 GO
